<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gong.weblog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.gong.weblog.entity.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentCounts" column="comment_counts" jdbcType="INTEGER"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="viewCounts" column="view_counts" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="TINYINT"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="bodyId" column="body_id" jdbcType="BIGINT"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="anonymous" column="anonymous" jdbcType="TINYINT"/>
            <result property="common" column="common" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_counts,summary,
        title,view_counts,weight,img,like_count, collect_count, `status`,
        author_id,body_id,category_id,anonymous, common,
        create_time,update_time
    </sql>

    <!--    根据文章id 查询标签 -->
    <select id="selectArticleTagByArticleId" resultType="com.gong.weblog.vo.TagVo">
        SELECT
            t.id, t.tag_name, t.description, t.visible
        FROM
            tag t
                JOIN article_tag aet ON t.id = aet.tag_id
        WHERE
            aet.article_id = #{id}
    </select>


    <select id="selectArticleByTags" resultType="com.gong.weblog.entity.Article" parameterType="com.gong.weblog.dto.ArticleParams">
        SELECT DISTINCT
            a.id,a.comment_counts,a.summary,
            a.title,a.view_counts,a.weight,a.img,a.like_count, a.collect_count, a.`status`,
            a.author_id,a.body_id,a.category_id, a.anonymous, a.common,
            a.create_time,a.update_time
        FROM
            article a
                JOIN article_tag art
            ON a.id = art.article_id
        WHERE
            art.tag_id IN
            <foreach collection="params.tags" item="item" separator="," nullable="false" open="(" close=")">
                #{item}
            </foreach>
            AND
            a.`status` = '1'
            <if test="!self">
                AND a.common = 1
            </if>
            <if test="params.authorId != null">
                AND a.author_id = #{params.authorId}
            </if>
        <if test="params.sortField != null">
            ORDER BY
            <choose>
                <when test="params.sortField == 'create_time'">
                    a.create_time
                </when>
                <when test="params.sortField == 'view_counts'">
                    a.view_counts
                </when>
                <otherwise>
                    a.create_time
                </otherwise>
            </choose>
            <if test="params.sort == 'asc'">
                ASC
            </if>
            <if test="params.sort == 'desc'">
                DESC
            </if>
        </if>
        LIMIT #{params.pageNum}, #{params.pageSize}
    </select>

    <select id="selectArticleCountByTags" resultType="long" parameterType="com.gong.weblog.dto.ArticleParams">
        SELECT
            count(*)
        FROM
        article a
        LEFT JOIN article_tag art
        ON a.id = art.article_id
        <where>
            <if test="tags != null">
                art.tag_id IN
                <foreach collection="tags" item="item" separator="," nullable="false" open="(" close=")">
                    #{item}
                </foreach>
            </if>
            AND a.`status` = '1'
        </where>
#         SELECT
#         count(*)
#         FROM
#         (
#         SELECT DISTINCT
#         a.id
#         FROM
#         article a
#         LEFT JOIN article_tag art ON a.id = art.article_id
#         WHERE
#         a.`status` = '1') c
    </select>
</mapper>
