<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gong.weblog.mapper.RelationMapper">

    <resultMap id="BaseResultMap" type="com.gong.weblog.entity.Relation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="followersId" column="followers_id" jdbcType="BIGINT"/>
            <result property="goalId" column="goal_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,followers_id,goal_id
    </sql>
</mapper>
